/**
 * Stylesheet:  style.css
 * Theme:       EyeWell - Eye Care HTML5 Responsive Template
 * Version:     1.0
 * Author:     	BoomDevs
 * 
 */
/* Table of contents
=========================
1.Preloader
2.Scrollup
4.Nav Menu CSS
3.Slider Section
5.Info Card
6.Icon Card
7. About Image Card
8. About Info Card
9. Promotional Card
10. Video Popup Card
11. Counter Card
12. Process Step Card
13. Testimonial Card
14. Accordion Card
15. Client Logo Card
16. Post Card
17. Skill Progress Card
18. Price Card
19. Call To Action Card
20. Title Card
21. Breadcrumb
22. Paginations
23. Timeline Card
24. Project Details Page
25. Sidebar
26. Comment List
27. Comment Form
28. Team member
29. Portfolio
30. About Page
31. Contact Page
32. Pricing Page
33. Service Page
34. Team Page
35. Blog Page
36. Footer

===========================*/
/* Theme Default CSS */
@import "variables";
@import "mixin";
@import "partials/theme-default";
@import "partials/default-spacing";
@import "unittest";
@import "keyframes";
@import "custom_font";

// 1.Preloader
@import "modules/preeloader";

// 2.Scrollup
@import "partials/scrollup";

// 3.Nav Menu
@import "partials/header";
@import "partials/header-two";
@import "modules/meanmenu";
@import "partials/menu-sidebar";

// 4.Slider Section
@import "modules/slider/slider-style-one";
@import "modules/slider/slider-style-two";
@import "modules/slider/slider-style-three";

// 10. Video Popup Card
@import "modules/video-popup-card";

// Accordion
@import "partials/accordion";

// Appointment-area
@import "modules/appointment-area";

// About-us-area
@import "modules/about-us/about-us-area";
@import "modules/about-us/about-us-area-two";

// Blog-post-area
@import "modules/blog-post-area";

// Counter-card
@import "modules/counter-area";

// Eye-care-skill-area style-1
@import "modules/eye-care-skill-area";

// Faq-area
@import "modules/faq-area";

// Feature-area
@import "modules/feature-area";

// 13. Testimonial Card
@import "modules/testimonial/testimonial-area";

// 17. Skill Progress Card
@import "modules/skill-progress";

// 19. Call To Action Card
@import "modules/call-to-action-card";

// 20. Title Card
@import "modules/title-section";

// 21. Breadcrumb
@import "modules/breadcrumb/breadcrumb";

// 22. Paginations
@import "modules/paginations";

// 25. Sidebar
@import "partials/sidebar";

// Team-area
@import "modules/team_area";

// 26. Comment List
@import "modules/comment-list";

// 27. Comment Form
@import "modules/comment-form";

// Cta area
@import "modules/cta_area";

// 29. Portfolio
@import "modules/portfolio/portfolio-slider-controls";
@import "modules/portfolio/portfolio_slider1";

// 16. Post Card
@import "modules/post-card/post-card";
@import "modules/post-card/post-card-one";
@import "modules/post-card/post-card-two";
@import "modules/post-card/post-card-three";
@import "modules/post-card/post-card-four";

// Service-area
@import "modules/service-area-slider";
@import "modules/service-card/service-offer";
@import "modules/service-card/service-card.scss";

// Treatment-area style-1
@import "modules/treatment-area";

// Pages
@import "pages/pages";

// Why-choose-us-area style-1
@import "modules/why-choose-us-area";

// 36. Footer
@import "partials/footer";

// Image-card
@import "modules/image-card/image-card"