.testimonial-area {
    &.style-1 {
        position: relative;
        .shape-1 {
            position: absolute;
            top: 0;
            left: 0;
            right: unset;
            bottom: unset;
        }
        .section-desc {
            @include rmaxwd(991) {
                margin-top: 24px;
            }
            @include rmaxwd(1399) {
                br {
                    display: none;
                }
            }
        }
        .testimonial-card-wrapper {
            margin-top: 60px;
        }
    }
}
.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .desc-wrapper {
        padding: 53px 43px 30px 43px;
        background-color: $gray-100;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: url("../images/shapes/testimonial-shape.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .icon {
            i {
                font-size: 96px;
                line-height: 71px;
                color: $primary-color;
            }
        }
        .desc {
            margin-top: 18px;
            margin-bottom: 0;
        }
        .user-img {
            margin-top: 20px;
            flex-shrink: 0;
            padding: 5px;
            border-radius: 100%;
            background-color: $white;
            width: 100px;
            height: 100px;
            img {
                border-radius: 100%;
                z-index: 5;
                position: relative;
            }
        }
    }
    .meta-info {
        text-align: center;
        margin-top: 10px;
        .desc {
            font-family: $body-font;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            color: $text-color;
        }
    }
}
