.portfolio-slider-wrapper {
  position: relative;

  .slick-list {
    margin: 0 -12px;

    .slick-slide {
      margin: 0 60px;
      @include transition;
      // &:first-child{
      //     margin-left: 12px;
      //   }
      @include sm {
        margin: 0 12px;
      }
      @include md{
        margin: 0 16px;
      }
      @media only screen and (min-width: 1199px) and (max-width: 1399px) {
        margin: 0 20px;
      }
      @include lg {
        margin: 0 20px;
      }

      &.slick-active {
        @include transition;
      }
    }
  }
  // Slick Nav Arrow Button
  button.portfolio-arrow-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 99;
    background-color: #ffffff;
    border: 1px solid $primary-color;
    cursor: pointer;
    top: -90px;
    overflow: hidden;
    @include transition;

    @include rmaxwd(991) {
      top: unset;
      bottom: -50px;
    }

    &.prev-btn {
      right: 40px;

      @include rmaxwd(991) {
        right: unset;
      }
      @include rmaxwd(767) {
        right: unset;
        left: 10px;
      }
    }
    &.next-btn {
      right: 0;

      @include rmaxwd(991) {
        right: unset;
        left: 50px;
      }
      @include rmaxwd(767) {
        right: 30px;
        left: 50px;
      }
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-color;
      font-size: 16px;
      @include transition;
    }
    &:hover {
      @include transition;
      @include gradient-color-red;
      border-color: $primary-color;

      i {
        color: $white;
        @include transition;
      }
    }
  }
}
