.service-offer {
    &.style-2 {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding-top: 140px;
        @include sm {
            padding-top: 60px;
        }
        .service-offer-container {
            background-color: $white;
            padding: 0 100px 74px;
            margin-top: 60px;
            border-radius: 10px;
            margin-bottom: -150px;
            z-index: 99;
            position: relative;

            @include md {
                padding: 0 50px 74px;
            }
            @include sm {
                padding: 0 20px 20px 20px;
            }
            .process-step-slider-tab {
                margin-bottom: 60px;
                gap: 10px;
                text-align: center;
                display: flex;
                li {
                    list-style: none;
                }
                justify-content: space-between;
                @include md {
                    flex-wrap: wrap;
                    justify-content: center;
                }
                @include sm {
                    flex-wrap: wrap;
                    justify-content: center;
                }
                // Process Step Slider Tab
                .slick-list {
                    padding: 0 !important;
                    margin: 0 -12px;

                    .slick-track {
                        @media only screen and (min-width: 992px) and (max-width: 2560px) {
                            transform: none !important;
                        }
                        .slick-slide {
                            margin: 0 5px;
                            .content {
                                .title {
                                    @include rmaxwd(991) {
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }

                .single-offer-tab {
                    padding: 26px 20px 26px 21px;
                    border-radius: 0px 0px 10px 10px;
                    cursor: pointer;
                    background-color: #eafbf1;
                    i {
                        font-size: 60px;
                        line-height: 60px;
                        color: $primary-color;
                    }
                    h4 {
                        color: $black;
                        font-family: $heading-font;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 34px;
                        margin-top: 5px;
                        br{
                            @include rmaxwd(991){
                                display: none;
                            }
                        }
                    }
                    &.slick-current {
                        background-color: $primary-color;
                        color: $white;
                        i {
                            color: $white;
                        }
                        h4 {
                            color: $white;
                        }
                    }
                }
                .tab-2 {
                    background-color: $primary-color;
                    color: $white;
                }
            }
            .tab-content-wrapper{
                .slick-list{
                    .slick-slide{
                        margin: 0 4px;
                    }
                }
            }
            .content-wrapper {
                h3 {
                    color: $black;
                    padding-bottom: 10px;
                    font-family: $heading-font;
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 40px;
                }
                .text {
                    // width: 491px;
                    color: $text-color;
                    font-family: $body-font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 29px;
                    padding: 15px 30px 15px 0;
                    p{
                        margin-bottom: 0;
                    }
                }
            }
            .list-wrapper {
                padding-top: 15px;
                @include sm {
                    padding-bottom: 24px;
                }
                @include md {
                    padding-bottom: 24px;
                }
            }
            .check-box {
                display: flex;
                gap: 15px;
                @include sm {
                    padding-bottom: 0;
                }
                align-items: center;
                i {
                    color: $primary-color;
                    font-size: 30px;
                }
                span {
                    font-family: $heading-font;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                }
            }
        }
    }
}
