.slider-area {
  overflow: hidden;
  position: relative;

  .slider-wrapper {
    // Active Slider Animate
    .slick-active .slider-short-title,
    .slick-active .slider-title,
    .slick-active .slider-short-desc,
    .slick-active .slider-btn-wrapper {
      -webkit-animation-name: MovefadeUp;
      animation-name: MovefadeUp;
      -webkit-animation-fill-mode: both;
    }

    .slick-active .slider-short-title {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
    }
    .slick-active .slider-title {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
    }

    .slick-active .slider-short-desc {
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
    }

    .slick-active .slider-btn-wrapper {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      -webkit-animation-duration: 0.9s;
      animation-duration: 0.9s;
    }

    // Slick Dots
    .slick-dots {
      display: flex;
      gap: 20px;
      flex-direction: column;
      position: absolute;
      top: 50%;
      right: 46px;
      transform: translateY(-50%);
      z-index: 2;
      flex-direction: column;

      @include sm {
        display: none !important;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 30px;
        bottom: 70px;
        top: unset;
        left: unset;
        right: unset;
        transform: none;
      }

      li {
        display: inline-block;
        line-height: 0;
        outline: 1px solid transparent;
        border: 4px solid transparent;
        border-radius: 50px;
        @include transition;

        button {
          font-size: 0;
          padding: 0;
          width: 11px;
          height: 11px;
          background-color: #c3e4de;
          border-radius: 50px;
          position: relative;
          @include transition;

          &:hover {
            background-color: $primary-color;
            @include transition;
          }
        }
        &.slick-active {
          @include transition;
          outline: 1px solid $primary-color;

          button {
            @include transition;
          }
        }
      }
    }
  }

  // Slick Nav Arrow Button
  button.slider-arrow-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: transparent;
    border: 1px solid $gray-300;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    display: none !important;

    &:before {
      position: absolute;
      width: 0;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(-45deg, rgb(227, 0, 8) 0%, rgb(250, 174, 0) 100%);
      content: "";
      @include transition;
      z-index: -1;
    }
    @include rmaxwd(767) {
      width: 40px;
      height: 40px;
    }
    &.prev-btn {
      left: 30px;
    }
    &.next-btn {
      right: 30px;
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $primary-color;
      font-size: 21px;
      @include transition;
    }
    &:hover {
      @include transition;
      border-color: $primary-color;

      &:before {
        width: 100%;
        @include transition;
      }

      i {
        color: $white;
        @include transition;
      }
    }
  }
  .single-slider-inner {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 811px;
    margin: 30px 40px;
    border-radius: 20px;
    margin-bottom: 0;
    @include lg{
      margin: 30px 24px;
    }
    &:after {
      content: "";
      background: $white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      @media screen and (min-width: "1200px") {
        display: none;
      }
    }
    @include sm {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      z-index: 2;
      overflow: hidden;
      height: 700px;
      margin: 0px 0px -10px 0px;
      border-radius: 0px;
    }
    .slider-container {
      position: relative;
      @include xl {
        padding: 0px;
      }
    }

    // base icon
    .slider-bottom-icon1 {
      position: absolute;
      bottom: 0;
      left: 188px;
      z-index: 20;
    }
    //shape-1 1
    .slider-bottom-icon2 {
      position: absolute;
      width: 264px;
      height: 279px;
      bottom: 0;
      transform: translate(74%, 56%);
      opacity: 80;
    }
    .slider-bottom-text {
      font-family: $heading-font;
      width: 100%;
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      margin-bottom: 199px;
      letter-spacing: 19px;
      .text {
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke-width: 17px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.15);
        font-size: 199px;
      }
      @include md {
        padding: 40px;
        text-align: center;
        margin-bottom: 0px;
        .text {
          -webkit-text-stroke-width: 10px;
          font-size: 100px;
        }
      }
      @include sm {
        bottom: 0;
        right: 0;
        padding: 20px;
        margin-right: 0px;
        margin-bottom: 0px;
        .text {
          -webkit-text-stroke-width: 6px;
          font-size: 60px;
        }
      }
    }
    .slider-top-icon-frame {
      position: absolute;
      width: 84px;
      height: 84px;
      top: 0px;
      background: $primary-color;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 20;
      @include rwd(1600) {
        transform: translate(-126%, -105%);
      }
      @media screen and (max-width: "1600px") {
        transform: translate(0%, -120%);
      }

      i {
        color: $white;
        font-size: 26px;
        transform: rotate(-15deg);
      }
    }

    .slider-overlay {
      background: linear-gradient(-135deg, rgb(30, 174, 152) 0%, rgb(0, 91, 172) 100%);
      opacity: 0.831;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .slider-content-wrapper {
      position: relative;
      z-index: 99;

      @include sm {
        width: 100%;
        left: 0px;
      }
      .slider-content {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .slider-short-title {
          font-family: $heading-font;
          color: $primary-color;
          display: inline-block;
          width: 100%;
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;
          letter-spacing: 3.2px;
          text-align: left;
          padding-left: 3px;

          @include lg {
            font-size: 18px;
          }
          @include sm {
            font-size: 16px;
            margin-bottom: 6px;
          }
        }
        .slider-title {
          font-family: $heading-font;
          font-weight: 700;
          font-size: 70px;
          color: $black;
          line-height: 100px;
          letter-spacing: 0em;
          text-align: left;
          line-height: 90px;
          @media only screen and (min-width: 992px) and (max-width: 1400px) {
            font-size: 60px;
            line-height: 64px;
          }

          @include lg {
            font-size: 48px;
            line-height: 56px;
          }
          @include md {
            font-size: 42px;
            line-height: 52px;
          }
          @include sm {
            font-size: 38px;
            line-height: 44px;
            margin-bottom: 24px;
          }
          span {
            color: $primary-color;
          }
        }
        .slider-short-desc {
          width: 636px;
          font-family: $body-font;
          font-size: 16px;
          font-weight: 500;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: left;
          color: $black;
          margin-bottom: 10px;
          margin-top: 10px;

          @include lg {
            width: 100%;
          }
          @include md {
            width: 100%;
          }
          @include sm {
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;
          }
        }
        .slider-btn-wrapper {
          margin-top: 16px;

          @include sm {
            margin-top: 24px;
          }
        }
      }
    }
    .slider-image {
      position: relative;
      z-index: 2;
      width: 860px;
      animation: MoveUpDown 2s linear infinite alternate;
      right: 47px;
      top: 24px;

      &.moblile-slider-img {
        @include sm {
          left: -30px;
        }
      }

      @include sm {
        animation: none;
        //margin-bottom: -150px;
        right: unset;
        text-align: center;
      }
      @include rmaxwd(1799) {
        width: auto;
        // margin-top: inherit;
      }
    }
  }
}
