// .accordion-wrapper {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   gap: 60px;

//   // @include md{
//   //   padding: 0px 40px;
//   // }
//   @include sm {
//     padding: 0px 20px;
//   }
//   .accordion-all-list-item {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//   }
//   .accordion-list-item {
//     position: relative;
//     // padding: 39px 40px;
//     border-bottom: 1px solid rgba(255, 255, 255, 0.19);
//     cursor: pointer;

//     &.open {
//       .accordion-item-body {
//         // display: block;
//         border-top: 1px solid rgba(255, 255, 255, 0.19);
//         opacity: 1;
//         overflow: visible;
//       }
//       .accordion-head {
//         .icon {
//           &:before {
//             content: "\f068";
//           }
//         }
//       }
//     }
//     .accordion-head {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       gap: 32px;
//       cursor: pointer;
//       flex-direction: row;
//       position: relative;
//       font-family: $heading-font;
//       font-size: 20px;
//       font-style: normal;
//       font-weight: 700;
//       line-height: 30px;

//       .accordion-title {
//         font-family: $heading-font;
//         font-size: 24px;
//         line-height: 34px;
//         font-weight: 600;
//         padding-bottom: 23px;
//         @include sm {
//           font-size: 18px;
//           line-height: 30px;
//         }
//         @include lg {
//           font-size: 20px;
//           line-height: 30px;
//         }
//       }
//       .icon {
//         display: flex;
//         align-items: center;
//         width: 20px;
//         height: 20px;
//         position: relative;
//         font-size: 24px;
//         margin-bottom: 22px;

//         &:before {
//           position: absolute;
//           content: "\2b";
//           left: 50%;
//           top: 50%;
//           transform: translate(-50%, -50%);
//           font-family: $font-awesome;
//         }
//       }
//       @include sm {
//         gap: 8px;
//       }
//       @include md {
//         gap: 8px;
//       }
//     }

//     .accordion-item-body {
//       padding-top: 20px;
//       padding-bottom: 20px;
//       opacity: 0;
//       overflow: hidden;
//       font-family: $body-font;
//       font-size: 16px;
//       font-style: normal;
//       font-weight: 400;
//       line-height: 29px;
//       p {
//         @include sm {
//           font-size: 14px;
//         }
//       }
//     }
//     @include sm {
//       padding: 0px;
//     }
//   }
//   .accordion-list-item:last-child {
//     border-bottom: none;
//     // height: 30px;
//   }
//   &.style-1 {
//     .accordion-item-body {
//       color: $white;
//     }
//     .accordion-list-item {
//       .accordion-title {
//         color: $white;
//       }
//       .accordion-item-body {
//         color: $white;
//       }
//     }
//     .icon {
//       color: $white;
//     }
//   }
//   &.style-2 {
//     flex-direction: row;
//     gap: 24px;
//     @include sm {
//       flex-direction: column;
//       gap: 24px;
//     }
//     .accordion-list-item {
//       border: none;
//       &.open {
//         .accordion-item-body {
//           border: none;
//           p{
//             margin-bottom: 0;
//           }
//         }
//       }
//     }
//     .accordion-title {
//       color: $black;
//     }
//     .accordion-item-body {
//       color: $black;
//     }
//     .icon {
//       color: $black-300;
//     }
//   }
// }

.accordion-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  &.style-2{
    .accordion-list-item{
      background-color: $white;
      .accordion-head{
        &:after{
          color: $text-color;
        }
        .accordion-title{
        color: $black;
        }
      }
      .accordion-item-body{
        color: $text-color;
      }
    }
  }
  .accordion-list-item {
    position: relative;
    border-top: 1px solid #514F56;
    &:first-child{
      border-top: transparent;
    }

    .accordion-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      cursor: pointer;
      flex-direction: row;
      position: relative;
      padding: 20px 0;


      @include sm {
        gap: 8px;
      }
      @include lg {
        gap: 8px;
      }
      @include xl {
      }

      &:after {
        position: relative;
        content: "\f068";
        font-family: $font-awesome;
        color: $white;
        font-size: 20px;
      }
      &.collapsed {
        &:after {
          content: "\2b";
        }
      }

      .accordion-title {
        font-family: $heading-font;
        font-size: 24px;
        line-height: 34px;
        color: $white;
        font-weight: 600;
        margin-bottom: 0;
        @include sm {
          font-size: 18px;
          line-height: 30px;
        }
        @include lg {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    .accordion-item-body {
      color: $white;
      position: relative;
      padding: 20px 0;
      border-top: 1px solid #514F56;
      p {
        margin-bottom: 0;
        font-family: $body-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
        @include sm {
          font-size: 14px;
        }
      }
    }
  }
}
 