.footer {
  .footer-sec {
    padding-top: 80px;
    padding-bottom: 11px;
    position: relative;

    @include rmaxwd(767) {
      padding-top: 80px;
    }
    .shape_2 {
      position: absolute;
      right: 0;
      top: 0;
    }

    .shape_1 {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  //footer Background
  .footer-bg {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}
.footer-widget-title {
  font-family: $heading-font;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  color: $white;
  position: relative;
  margin-bottom: 30px;
  @include lg {
    font-size: 28px;
  }
}
.footer-widget-logo{
  margin-bottom: 30px;
}

.footer-about {
  position: relative;
  z-index: 3;
  padding-bottom: 70px;
  @include sm {
    padding-bottom: 10px;
  }
  @include md {
    padding-bottom: 40px;
  }
  @include lg {
    padding-bottom: 50px;
  }
  p {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
  }
  .header-btn{
    margin-top: 14px;
    display: flex;
  }
  .social-icon {
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    a {
      width: 30px;
      height: 30px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 16px;
        line-height: 15px;
        color: $white;
      }
      &:hover {
        background-color: $primary-color;
      }
    }
  }
  .header-btn {
    // display: block !important;
    @include sm {
      display: flex;
    }
    span {
      color: $secondary-color !important;
    }
    a {
      color: $white !important;
    }
  }
}

.footer-widget {
  font-family: $body-font;
  .widget-instagram-feed {
    grid-gap: 5px !important;
    width: 300px;
    .single-instagram-feed {
      img {
        transform: scale(1.01);
      }
      .social-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        background: $primary-color;
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 0.8;
        i {
          font-size: 0px;
          color: $white;
          opacity: 1;
        }
      }
    }
    .single-instagram-feed {
      &:hover {
        .social-icon {
          visibility: visible;
          i {
            @include transition;
            font-size: 30px;
          }
        }
      }
      &::after {
        visibility: hidden;
      }
    }
  }
  @include rmaxwd(991) {
    margin-bottom: 30px;
  }
  ul {
    padding-left: 0;
  }
  .widget_opening_time {
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    color: #ffffff;
    padding-right: 6px;
    .single-date-time {
      display: flex;
      justify-content: space-between;
      &:last-child{
        padding-right: 30px;
      }
    }
  }

  // Footer Info Widget
  .footer-widget-info {
    padding-right: 30px;

    @include rmaxwd(1199) {
      padding-right: 0;
    }
    p {
      color: $white-100;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .footer-logo {
      display: inline-block;
    }
    .info-form-and-social-icon {
      display: flex;
      align-items: center;
      gap: 50px;

      .subscribe-form-widget {
        border-radius: 6px;
        .single-field {
          input {
            height: 60px;
          }
        }
      }
      .social-profile {
        margin-top: 0;
      }
    }
    .social-profile {
      gap: 20px;
      margin-top: 30px;
    }
    @include sm {
      .info-form-and-social-icon {
        flex-direction: column;
        align-items: start;
        gap: 30px;
      }
    }
  }

  // Footer Menu Widget
  &.widget_nav_menu {
    ul {
      margin-top: -5px;
      padding-left: 0;
      margin-bottom: 0;
    }

    li {
      position: relative;
      display: inline-block;
      width: 100%;
      padding-bottom: 10px;

      &:last-child {
        padding-top: 0px;
      }

      a {
        color: $white-100;
        text-transform: capitalize;
        font-size: 18px;
        @include transition;
        position: relative;

        &:hover {
          @include transition;
          color: $primary-color;
        }
      }
    }
  }

  // Footer Contact Widget
  .footer-widget-contact {
    p {
      color: $white-100;
    }
    .footer-contact ul {
      list-style: none;

      li {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        line-height: 24px;
        gap: 20px;

        &:first-child {
          align-items: flex-start;
          .contact-icon {
            margin-top: 5px;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        .contact-icon {
          color: $white;
          border-radius: 50px;
          float: left;
          display: flex;
          align-items: center;
          flex-shrink: 0;
        }
        .contact-text {
          color: $white-100;
          font-size: 18px;
          line-height: 24px;
          overflow: hidden;

          a {
            &:hover {
              span {
                color: $primary-color;
                @include transition;
              }
            }
          }
          span,
          p,
          a {
            color: $white-100;
            font-size: 18px;
            line-height: 24px;
            display: inline-block;
            width: 100%;
            margin-bottom: 0;
            @include transition;
          }
        }
      }
    }
  }

  // Footer Latest News
  .widget_latest_post {
    ul {
      li {
        .latest-post-thumb {
          width: 60px;
          height: 60px;
        }
        .latest-post-desc {
          .latest-post-title {
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 22px;
            color: $white;
            font-weight: 700;

            a {
              font-size: 16px;
              line-height: 22px;
              color: $white;
              position: relative;
              text-transform: capitalize;
              font-weight: 700;
              @include transition;

              &:hover {
                color: $primary-color;
                @include transition;
              }
            }
          }
          .latest-post-meta {
            font-size: 14px;
            display: flex;
            align-items: center;
            font-weight: 400;
            gap: 8px;
            color: $white-100;
          }
        }
      }
    }
  }
}

.footer-bottom-area {
  background-color: $black;
  text-align: center;
  .copyright-text {
    p {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -01px;
      margin-bottom: 0;

      a {
        margin-bottom: 0;
        @include transition;
        &:hover {
          @include transition;
          color: $white;
        }
      }
    }
  }
}

.footer-bottom-area {
  // height: 74px;
  padding: 22px 0;
  background-color: $black;
  text-align: center;
  color: $white;
  @include rmaxwd(991) {
    padding: 30px 0;
  }
  .copyright-text {
    p {
      a {
        color: $primary-color;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0;
        @include transition;
        &:hover {
          @include transition;
          color: $white;
        }
      }
    }
  }
  .credit-text {
    p {
      color: $white-100;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
    a {
      color: $primary-color;
    }
  }
}

.widget_nav_menu {
  ul {
    padding-left: 0;
    li {
      position: relative;
      display: inline-block;
      width: 100%;
      padding-bottom: 15px;

      &:last-child {
        // padding-top: 0px;
      }

      a {
        color: $white;
        font-family: $body-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
        @include transition;
        &:hover {
          @include transition;
          color: $primary-color;
        }
      }
    }
  }
}

.usefull_links {
  padding-left: 4px;
}
// Footer Subscribe
.footer-subscribe-area {
  position: relative;
  z-index: 99;
  margin-bottom: -136px;
}
.subscribe-area {
  background-color: $primary-color;
  border-radius: 18px;
  padding: 64px 90px 64px 70px;
  z-index: 2;
  position: relative;
  overflow: hidden;

  @include md {
    padding: 40px;
  }
  @include sm {
    padding: 40px;
  }

  .triangle-shape {
    width: 280px;
    height: 280px;
    background-color: $primary-color;
    border-radius: 28px;
    position: absolute;
    right: -32px;
    bottom: -80px;
    transform: rotate(39deg);
    z-index: -1;
  }
  .shape-bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;

    .short-title {
      font-size: 21px;
      font-weight: 700;
      color: $white;
      margin-bottom: 0;
    }
    .subscribe-title {
      color: $white;
      text-transform: capitalize;
      margin-bottom: 0;
      font-size: 48px;
      line-height: 60px;

      @include md {
        font-size: 40px;
        line-height: 42px;
      }
      @include sm {
        font-size: 40px;
        line-height: 42px;
      }
    }
    .text {
      font-size: 22px;
      color: $white;
      margin-bottom: 0;
      margin-top: 12px;
    }
  }

  .subscribe-inner-area {
    display: flex;
    align-items: center;
    gap: 30px;
    @include sm {
      flex-direction: column;
    }
    .subscribe-form-wrapper {
      margin-top: -12px;
    }
    .content-wrapper,
    .subscribe-form-wrapper {
      width: 50%;

      @include sm {
        width: 100%;
      }
    }
  }
}
.subscribe-form-widget {
  .mc4wp-form-fields {
    display: flex;
    background-color: $white;
    border-radius: 12px;
    overflow: hidden;
  }

  .single-field {
    flex-grow: 1;

    input {
      color: $black-300;
      height: 72px;
      padding: 0 30px;
      font-size: 18px;
      border-radius: 50px;
      width: 100%;
    }
    *::-webkit-input-placeholder {
      color: $black-300;
    }
    *:-moz-placeholder {
      color: $black-300;
      opacity: 1;
    }
    *::-moz-placeholder {
      color: $black-300;
      opacity: 1;
    }
    *:-ms-input-placeholder {
      color: $black-300;
    }
    *::-ms-input-placeholder {
      color: $black-300;
    }
    *::placeholder {
      color: $black-300;
    }
  }
  .submit-btn {
    background-color: $white;
    color: $primary-color;
    background: -webkit-linear-gradient(#e30008, #faae00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    padding: 0 35px;
    display: flex;
    align-items: center;
    gap: 9px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
  }
  // Form Submit Message
  .mc4wp-response {
    .mc4wp-alert {
      &.mc4wp-error {
        p {
          margin-bottom: 0;
          color: #e30008;
        }
      }
      &.mc4wp-success {
        p {
          margin-bottom: 0;
          color: $secondary-color;
        }
      }
    }
  }
}

// Social Widget
.social-profile {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    color: $white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition;

    &:hover {
      @include transition;
      color: $primary-color;
    }
  }
}
