.faq-area {
    &.style-2 {
        padding: 140px 0;
        &:after{
            background-color: $white;
        }
        @include sm {
            padding: 70px 0 30px 0 !important;
        }
        @include lg {
            padding: 100px 0 38px 0 !important;
        }
        @include xl {
            padding: 120px 0 48px 0 !important;
        }
        .faq-inner-wrapper{
            .elementor-column{
                @media only screen and (min-width: 0px) and (max-width: 768px){
                    width: unset !important;
                }
                &:last-child{
                    .accordion-wrapper{
                        margin-top: 70px;
                    }
                }
            }
            .elementor-container {
                .elementor-widget-wrap{
                    @include sm{
                        padding-right: 0;
                    }
                    @include md{
                        padding-left: 0;
                        padding-right: 30px;
                    }
                }
            }
        }
        .accordion-wrapper{
            .accordion-list-item {
                border-top: none;
                &:first-child{
                    .accordion-head{
                        padding-top: 0;
                    }
                }
                &:last-child{
                    .accordion-head{
                        padding-bottom: 0;
                    }
                }
                .accordion-head{

                    &:after{
                      color: $text-color;
                    }
                }
                .accordion-item-body {
                    border-top: none;
                }
            }
        }
    }
}
.feature-area {
    &.style-2 {
        padding-top: 82px;
        // padding-left: 18px;
        padding-bottom: 140px;
        @include sm {
            padding-bottom: 70px;
        }
        @include lg {
            padding-bottom: 100px;
        }
        @include xl {
            padding-bottom: 120px;
        }
        .feature-container{
            .shape-1{
                @include sm{
                    display: none;
                }
            }
        }
    }
}
