.about-us-area {
    &.style-2 {
        .content-wrapper {
            @include rmaxwd(1199) {
                margin-top: 36px;
            }
            .about-list {
                display: flex;
                margin-top: 40px;
                @include rmaxwd(1199) {
                    flex-direction: column;
                    gap: 24px;
                }
                .list-wrapper {
                    display: flex;
                    gap: 30px;
                    flex-direction: column;
                    padding-right: 11px;
                    @include rmaxwd(1199) {
                        gap: 20px;
                    }
                    .list-item {
                        display: flex;
                        align-items: center;
                        gap: 30px;
                        cursor: pointer;
                        &:hover{
                            .icon{
                                background-color: $primary-color;
                            }
                        }
                        @include rmaxwd(1199) {
                            gap: 20px;
                            h4 {
                                br {
                                    display: none;
                                }
                            }
                        }
                        .icon {
                            width: 80px;
                            height: 80px;
                            border-radius: 100%;
                            background-color: $black;
                            color: $white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-shrink: 0;
                            @include transition;
                            i {
                                font-size: 40px;
                                line-height: 40px;
                                color: $white;
                            }
                            @include rmaxwd(767) {
                                flex-shrink: 0;
                            }
                        }
                    }
                }
                .divider {
                    width: 2px;
                    background: $secondary-color;
                    margin: 0 36px;
                    @include rmaxwd(1199) {
                        margin: 24px 0;
                        width: 100%;
                        height: 1px;
                    }
                    @media only screen and (min-width: 991px) and (max-width: 1439px) {
                        margin: 0 14px 0 0;
                    }
                }
                .list-desc {
                    display: flex;
                    flex-direction: column;
                    gap: 58px;
                    align-items: center;
                    p {
                        line-height: 29px;
                        margin-bottom: 0;
                    }
                    @include rmaxwd(1199) {
                        gap: 20px;
                        align-items: start;
                    }
                    @media only screen and (min-width: 991px) and (max-width: 1439px) {
                        gap: 28px;
                    }
                }
            }
            .section-desc {
                margin-top: 30px;
            }
        }
        .image-wrapper {
            position: relative;
            padding-left: 60px;
            .certificate {
                position: absolute;
                bottom: 10px;
                left: 112px;
                width: 196px;
                height: 200px;
                background-color: $black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4px;
                color: $white;
                border-radius: 20px;
                z-index: 5;
                @include rmaxwd(767) {
                    width: 146px;
                    height: 150px;
                    gap: 0;
                    left: 20px;
                }
                i {
                    font-size: 60px;
                    line-height: 60px;
                    @include rmaxwd(767) {
                        font-size: 30px;
                        line-height: 30px;
                    }
                }
                p {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 22px;
                    text-align: center;
                    margin-bottom: 0;
                    br {
                        @include rmaxwd(767) {
                            display: none;
                        }
                    }
                }
                h3 {
                    font-weight: 700;
                    color: $white;
                    margin: 0;
                    @include rmaxwd(767) {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }
            }
            @media only screen and (min-width: 991px) and (max-width: 1439px) {
                display: flex;
                align-items: center;
                height: 100%;
            }
        }
    }
}

// Theme Responsive
.about-us-area{
    .elementor-container{
        padding: 0 12px;
        @include rmaxwd (991){
            flex-direction: column-reverse !important;
            align-items: center;
        }
        @include lg{
            flex-direction: row !important;
        }
        .elementor-col-50{
            @include rmaxwd(991){
                width: 80% !important;
            }
        }
    }
}
