.about-us-area {
    // @include sm {
    //     padding: 80px 15px 80px 0;
    // }
    // @include md {
    //     padding: 80px 30px 80px 0;
    // }
    // @include lg {
    //     padding: 100px 0;
    // }
    
    .section-desc {
        // margin-top: 20px;
        p{
            margin-bottom: 0;
        }
        @include rmaxwd(1400){
            br{
                display: none;
            }
        }
    }
    .content-wrapper {
        @include rmaxwd(1199) {
            margin-top: 64px;
        }
        @include xl{
            padding-left: 48px;
        }
        .elemento-widget-wrap{
            @include lg{
                width: 100%;
            }
        }
    }
}
.list-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    @include rmaxwd(767) {
        flex-direction: column-reverse;
        gap: 24px;
        align-items: start;
    }
}
.content-bottom {
    margin-top: 23px;
    display: inline-flex;
    gap: 66px;
    @include rmaxwd(767) {
        flex-direction: column;
        gap: 30px;
    }
    .read-more {
        a {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            gap: 6px;
            padding: 15px 20px;
            background-color: black;
            border-radius: 5px;
            color: $white;
            p {
                font-weight: 600;
                margin-bottom: 0;
                
            }
            &:hover {
                background-color: $primary-color;
            }
        }
    }
}
// Image-card
.about-image-card {
    display: flex;
    justify-content: start;
    padding-left: 6px;
    @include rmaxwd(1199){
        // justify-content: center;
    }
    .image {
        position: relative;
        display: inline-block;
        flex-shrink: 0;
        margin-top: 8px;
        @include rmaxwd(991) {
            flex-shrink: 1;
        }
        @media only screen and (min-width: 1200px) and (max-width: 1440px) {
            flex-shrink: 1;
        }
        img {
            z-index: 5;
            position: relative;
            border-radius: 20px;
        }
        .shape-1 {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-88px, -50px);
            width: 196px;
            height: 200px;
            background-color: $gray;
            border-radius: 20px;
            @include rmaxwd(767) {
                transform: translate(-66px, -50px);
                width: 136px;
                height: 140px;
            }
        }
        .shape-2 {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(74px, -91px);
            // width: 206px;
            // height: 217px;
            @include rmaxwd(767) {
                transform: translate(0, -76px);
                width: 146px;
                height: 146px;
            }
        }
        .video-btn-wrapper {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(40px, 40px);
            @include rmaxwd(767) {
                transform: translate(0, 40px);
            }
            .text {
                margin: 0;
                text-align: center;
                color: $white;
                text-align: center;
                font-family: $body-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                margin-top: 10px;
                br {
                    @include rmaxwd(767) {
                        display: none;
                    }
                }
            }
        }
    }
    .water-text {
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        margin-bottom: 30px;
        width: 80px;
        h2 {
            text-align: start;
            color: $gray;
            font-size: 70px;
            font-weight: 700;
            line-height: 80px;
            letter-spacing: 11.55px;
            text-transform: uppercase;
            @include rmaxwd(767) {
                font-size: 40px;
                line-height: 60px;
            }
        }
    }
    .elementor-widget-wrap{
        @include lg{
            width: 100%;
        }
    }
}
// Certified
.certified {
    width: 154px;
    height: 154px;
    border-radius: 100%;
    background-color: $white;
    filter: drop-shadow(0px 4px 60px rgba(157, 157, 157, 0.25));
    padding: 10px;
    flex-shrink: 0;
    .inner-wrapper {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        // background-image: url("../images/about/circle.png");
        // background-position: center;
        // background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px dashed $secondary-color;
        h2 {
            color: $primary-color;
            margin: 0;
        }
        p {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: $black;
        }
    }
}
// video-btn-card
.video-btn-wrapper {
    background-color: $primary-color;
    border-radius: 20px;
    padding: 20px 18px 20px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 196px;
    height: 200px;
    a{
        i {
            font-size: 60px;
            line-height: 60px;
        }
    }
    @include rmaxwd(767) {
        padding: 12px;
        width: 136px;
        height: 140px;
    }
    .text {
        margin: 0;
        text-align: center;
        color: $white;
        text-align: center;
        font-family: $body-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        margin-top: 10px;
        br {
            @include rmaxwd(767) {
                display: none;
            }
        }
    }
}
// Phone-module
.contact {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    .icon {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: $secondary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 36px;
            line-height: 35px;
            color: $white;
        }
    }
    .text {
        p {
            font-size: 12px;
            font-weight: 400;
            color: $black;
            margin-bottom: 0;
            span {
                color: $secondary-color;
            }
        }
        h6 {
            color: $text-color;
        }
    }
}
// Banner-area
.banner {
    display: inline-flex;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    margin-top: 30px;
    margin-bottom: 35px;
    justify-content: start;
    @include rmaxwd(500) {
        flex-direction: column;
        align-items: start;
    }
    .image {
        @include rmaxwd(500){
            width: 100%;
            img{
                width: 100%;
            }
        }
        img {
            border-radius: 5px;
        }
    }
    .divider{
        width: 1px;
        height: 100px;
        background-color: #DFDFDF;
        margin: 0 40px;
        @include sm{
            width: 100%;
            height: 1px;
            margin: 20px 0 12px 0;
        }
        @media only screen and (min-width: 500px) and (max-width: 991px){
            width: 1px;
            height: 100px;
            margin: 0 20px;
        }
    }
    .content {
        span {
            color: $primary-color;
            font-size: 28px;
            font-weight: 600;
        }
        @include rmaxwd(500) {
            margin-left: 0;
            // margin-top: 24px;
            padding: 0;
            border: none;
        }
        @include rmaxwd (767){
            br {
                display: none;
            }
        }
    }
}
.list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include rmaxwd(767) {
        // align-items: center;
    }
    .list-item {
        display: flex;
        align-items: center;
        gap: 15px;
        i {
            font-size: 30px;
            color: #f17732;
            line-height: 30px;
        }
        p {
            font-family: $heading-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            color: $text-color;
            margin-bottom: 0;
        }
    }
}
