.counter-area {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    overflow: hidden;
    height: auto;
    &.bg-primary{
        position: relative;
        &:before {
            content: "";
            background: $primary-color;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0.9;
            z-index: 0;
        }
    }
    .container_outter_wrapper{
        position: relative;
    }
}
.book-appointment-area {
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0;
    // margin: 80px 0;
    @include lg {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        padding: 0;
        // margin: 60px 0;
    }
    @include md {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        padding: 0px 20px;
    }
    @include sm {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        padding: 0px 10px;
    }
    .book-appointment-time-desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        .time-icon {
            flex-shrink: 0;
            height: 110px;
            width: 110px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background: rgba(255, 255, 255, 0.12);
            i {
                font-size: 60px;
                color: $white;
            }
            @include lg {
                height: 84px;
                width: 84px;
                i {
                    font-size: 32px;
                }
            }
            @include md {
                height: 84px;
                width: 84px;
                i {
                    font-size: 32px;
                }
            }
            @include sm {
                height: 84px;
                width: 84px;
                i {
                    font-size: 32px;
                }
            }
        }
        .title-desc {
            max-width: 606px;
            width: 100%;
            p {
                color: $white;
                font-family: $heading-font;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 50px;
                margin-bottom: 0;
                @include sm{
                    font-size: 32px;
                    margin-bottom: 6px;
                }
            }
        }
        @include lg {
        }
        @include md {
        }
        @include sm {
            flex-direction: column;
            justify-content: left;
            align-items: start;
            row-gap: 10px;
        }
    }
}
.book-appointment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    height: 100%;
    z-index: 10;
    @include lg {
        justify-content: start;
        align-items: start;
    }
    @include md {
        justify-content: start ;
        align-items: start;
        margin-bottom: 20px;
    }
    @include sm {
        justify-content: start !important;
        align-items: start;
        margin-bottom: 50px;
        height: auto;
    }
    .elementor-widget-container{
        @include rwd (1199){
            // padding-top: 115px;
        }
        .elementor-button-text{
            font-size: 14px;
        }
    }
    .appointment-btn {
        background: $black;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        color: $white;
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 29px;
        border-radius: 5px;
        @include transition;
        &:hover {
            background: $white;
            color: $primary-color;
        }
    }
   
}
.fun-fact-box{
    padding: 40px;
    padding-top: 0;
    background-color: #272224;
    border-radius: 0 0 20px 20px;
    // z-index: 10;
    // position: relative;
    @include sm{
        padding: 37px;
        padding-top: 0;
    }
}
.counter-items-box {
    padding: 54px 96px;
    z-index: 20;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid #635F61;
    @include sm{
        padding: 30px 0;
    }
    @include md {
        padding: 50px 58px 55px 57px;
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        // grid-template-columns: auto auto;
        gap: 30px;
    }
    @include lg {
        flex-wrap: wrap;
        grid-row-gap: 30px;
        padding: 24px;
    }
    @include xl{
        padding: 50px 26px;
    }
   
    &.style-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include sm{
            flex-direction: column;
            padding: 20px 12px;
        }
    }
   
}
.top-icon {
    position: absolute;
    // left: -35% !important;
    &.temp{
        top: 0;
        left: 18%;
        @include sm{
            left: 13% !important;
        }
    }
        @include sm{
            left: -27% !important;
        }
        @include md{
            left: -34% !important;
        }
        @include lg{
            left: -38% !important;
        }
        @include xl{
            left: -39% !important;
        }
    }
.bottom-icon {
        position: absolute;
        right: 0% + 18%;
        bottom: 53%;
        margin-right: 20px;
        @include sm{
            bottom: unset !important;
            top: 312px !important;
            left: 25% !important;
        }
        @include md{
            left: unset !important;
            right: -34% !important;
            bottom: 0px !important;
            top: 186px !important;
        }
        @include lg{
            bottom: unset !important;
            right: -38% !important;
            left: unset !important;
            top: 188px !important;
        }
        @include xl{
            right: -39% !important;
            left: unset !important;
        }
}
.side-image {
    z-index: 2;
    overflow: hidden;
    position: absolute;
    right: 0;
    z-index: 10;
    // width: 314px;
    height: 511px;
    margin-right: 31px;
    bottom: -75px;
    @include rmaxwd(1450) {
        display: none !important;
    }
}
.counter-card {
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    @include sm {
        width: 100%;
        gap: 24px;
    }
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        color: $white;
        @include lg{
            font-size: 64px;
        }
    }
    .content {
        @include sm {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .counter {
            color: $white;
            font-family: $heading-font;
            font-size: 70px;
            font-style: normal;
            font-weight: 700;
            line-height: 72px;
            @include xl{
                font-size: 58px;
            }
            @include lg{
                font-size: 64px;
            }
        }
        .content-title {
            flex: 50%;
            color: $primary-color;
            font-family: $body-font;
            font-size: 16px;
            font-weight: 400;
            @include xl{
                font-size: 14px;
            }
        }
    }
}

// theme responsive
.book-appointment-area{
    .elementor-container{
        width: 100%;
        align-items: center;
        @include md{
            flex-direction: column;
            align-items: start;
        }
        .elementor-column{
            @include md{
                width: unset !important;
            }
        }
        .book-appointment-time-desc{
            justify-content: unset;
        }
        .book-appointment-btn{
            margin-right: 0;
            height: 100% !important;
            @include sm{
                margin-top: 20px;
            }
            @include md{
                margin-bottom: 0;
                margin-top: 20px;
            }
            .elementor-align-right{
                @include sm{
                    text-align: start;
                }
            }
            @include md{
                margin-right: 0;
            }
        }
    }
    >.elementor-container{
        @include xl{
            // padding: 0 82px;
        }
    }
}
.counter-area{
    &.style-1{
        .elementor-container{
            .fun-fact-area{
                .counter-items-box{
                    .elementor-container{
                        @include sm{
                            gap: 12px;
                        }
                    }
                }
            }
        }
    }
    .elementor-container{
        @include lg{
            gap: 12px 0;
        }
        .side-image,
        .bottom-icon,
        .top-icon{
            display: none;
        }
        .counter-items-box{
            &.style-2{
                .elementor-container{
                    display: flex;
                    justify-content: space-between;
                    @include md{
                        flex-wrap: wrap !important;
                        gap: 30px 0;
                        justify-content: space-between;
                    }
                    @include sm {
                        padding: 24px;
                        flex-direction: column;
                    }
                    @include lg {
                        flex-wrap: wrap;
                        grid-row-gap: 30px;
                    }
                    .elementor-column{
                        width: unset;
                        @include sm{
                            width: 100% !important;
                        }
                        @include md{
                            width: 50% !important;
                        }
                        @include lg{
                            width: 50% !important;
                        }
                    }
                }
            }
            .elementor-column{
                @include md{
                    width: 50% !important;
                }
                @include lg{
                    width: 50% !important;
                }
            }
        }
    }
    >.elementor-container{
        @media only screen and (min-width: 575px) and (max-width: 768px){
            padding: 0 15px;
        }
        @media only screen and (min-width: 769px) and (max-width: 991px){
            padding: 0 44px;
        }
        @include lg{
            padding: 0 42px;
        }
        @include xl{
            padding: 0 82px;
        }
    }
}
