// Theme
.cta-area {
    .book-appointment-btn{
        margin-bottom: 0 !important;
    }
    &.style-1{
        >.elementor-container{
            @include xl{
                padding: 0 82px;
            }
            @include lg{
                padding: 0 42px;
            }
        }
    }
}
