.eye-care-skill-area {
    position: relative;

    .area-bg {
        position: absolute;
        top: 0;
        left: 0;
    }
    .content-wrapper {
        @include rmaxwd(991) {
            margin-top: 48px;
        }
        .section-title{
            @include rmaxwd(991){
                padding-right: 40px;
            }
        }
    }
    .section-desc {
        margin-top: 30px;
    }
}
.eye-care-image-card {
    position: relative;
    display: flex;
    align-items: end;
    .image {
        display: flex;
        z-index: 1;
    }
    .shape-1 {
        display: flex;
        justify-content: end !important;
        position: absolute !important;
        right: 75px;
        z-index: 0;
    }
    .child {

    }
    
}

// For theme
.image {
    display: flex;
    z-index: 1;
}
.shape-1 {
    display: flex;
    justify-content: end !important;
    position: absolute !important;
    right: 75px;
    z-index: 0;
}
.child-img {
    position: absolute !important;
    bottom: 0;
    right: -22%;
    top: 25%;
    z-index: 3;
}
