.eye-care-skill-area {
    position: relative;

    .area-bg {
        position: absolute;
        top: 0;
        left: 0;
    }
    .content-wrapper {
        @include rmaxwd(991) {
            margin-top: 48px;
        }
        .section-title{
            @include rmaxwd(991){
                padding-right: 40px;
            }
        }
    }
    .section-desc {
        margin-top: 30px;
    }
}
.eye-care-image-card {
    position: relative;
    display: flex;
    align-items: end;
}
.image {
    display: flex;
}
.shape-1 {
    display: flex;
    justify-content: end;
}
.child-img {
    position: absolute;
    bottom: 0;
    right: -22%;
}
