.faq-area {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    &:after {
        content: "";
        background: $black;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: 1;
    }
    &.style-2 {
        background: $white;
        // &:after {
        //     content: "";
        //     background: $white;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     width: 100%;
        //     height: 100%;
        //     opacity: 1;
        // }
    }
    @include lg {
        height: 100%;
    }
    @include md {
        height: 100%;
    }
    @include sm {
        background-attachment: fixed;
        height: auto;
    }
    .top-shape {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }
    .counter-item-wrapper{
        display: flex;
        align-items: center;
        gap: 70px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .counter-wrapper {
        .elementor-widget-wrap{
            display: flex;
            align-items: center;
            gap: 70px;
            flex-wrap: wrap;
            justify-content: center;
            .elementor-element{
                width: auto !important;
            }
        }
    }
    
    .accordion-wrapper {
        z-index: 10;
        position: relative;
        
        .accordion-title {
            font-family: $heading-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
        }
    }
    .section-title {
        margin-bottom: 30px;
        @include sm{
            margin-bottom: 20px;
        }
        .title {
            color: $white;
        }
    }
}
.single-expert {
    position: relative;
    width: 199px;
    height: 199px;
    background: $primary-color;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    @include lg{
        width: 180px;
        height: 180px;
    }
    .icon {
        justify-content: center;
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(50%);
        z-index: 10;
        @media only screen and (min-width: 0px) and (max-width: 768px) {
            // margin-left: 10px;
            top: unset;
            bottom: 0;
            transform: translateY(50%);
        }
        @include lg{
            top: unset !important;
            bottom: 0 !important;
            transform: translateY(unset);
        }
        &.top{
            top: 0;
            bottom: unset;
            transform: translateY(-50%);
            @include sm{
                top: unset;
                bottom: 0;
                transform: translateY(50%);
            }
        }
        &.right{
            top: unset;
            bottom: 50%;
            right: 0;
            justify-content: end;
            margin-right: 0;
            transform: translate(25px, 25px);
            @include sm{
                top: unset;
                bottom: 0;
                transform: translateY(50%);
                justify-content: center;
            }
        }
        &.left{
            top: 50%;
            bottom: unset;
            right: unset;
            justify-content: start;
            margin-right: 0;
            transform: translate(-25px, -25px);
            left: 0;
            @include sm{
                top: unset;
                bottom: 0;
                transform: translateY(50%);
                justify-content: center;
            }
        }
        i {
            z-index: 20;
            border-radius: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            width: 50px;
            height: 50px;
            background: white;
            font-size: 30px;
            color: #f17732;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .counter {
            color: $white;
            font-family: $heading-font;
            font-size: 70px;
            font-weight: 700;
            line-height: 66px;
            @include md {
                font-size: 48px;
                // line-height: 24px;
            }
            @include sm {
                // font-size: 24px;
                // line-height: 24px;
            }
        }
        .content-title {
            color: $white;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            @include sm {
                font-size: 14px;
            }
        }
    }
}

// Theme 
.faq-area{
    .elementor-container{
        @include rmaxwd(991){
            padding: 0 12px;
        }
        @media only screen and (min-width: 992px) and (max-width: 1399px){
            padding: 0 28px;
        }
        .section-title{
            // margin-bottom: 32px;
        }
        .elementor-column{
            &:last-child{
                @include sm{
                    // margin-top: 70px;
                }
            }
        }
        .elementor-widget-wrap{
            @include sm{
                padding-left: 0 !important;
            }
        }
    }
    .faq-counter-inner{
        @include sm{ 
            margin-bottom: 78px;
        }
    }
}
