.list-wrapper {
    ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
        margin-bottom: 0;
        li{
            display: inline-flex;
            align-items: center;
            gap: 25px;
            margin-bottom: 0;
            @include transition;

            &:before {
                content: "";
                width: 15px;                         
                height: 15px;                         
                border-radius: 3px;
                background-color: $secondary-color;
                flex-shrink: 0;
                @include transition;
            }
        }
    }
    &.style-2{
        ul{
            li{
                font-family: $heading-font;
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                &:before{
                    content: "\e916";
                    font-family: $icomoon;
                    font-size: 30px;
                    line-height: 30px;
                    color: $primary-color;
                    width: unset;
                    height: unset;
                    background-color: unset;
                    
                }
            }
        }
    }
}