.mean-container a.meanmenu-reveal {
  display: none;
}
.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: #fff;
  overflow-x: hidden;
}
.mean-container .mean-bar {
  padding: 0;
  min-height: auto;
  background: none;
  margin-top: 20px;
}
.mean-container .mean-nav > ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: block !important;
}
.mean-container a.meanmenu-reveal {
  display: none !important;
}
.mean-container .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%;
}
.mean-container .mean-nav ul li ul {
  list-style: none;
  padding-left: 0;
}
.mean-container .mean-nav ul li a {
  width: 100%;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 700;
  display: block;
  float: left;
  padding: 10px 30px 10px 0;
  margin: 0;
  text-align: left;
  color: $black;
  border-top: 1px solid #ebecee;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.mean-container .mean-nav ul li li a {
  padding: 10px 10%;
}
.mean-container .mean-nav ul li a.mean-expand {
  line-height: 30px;
  color: $black;
  width: 42px;
  height: 42px;
  padding: 0 !important;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ebecee;
}

.mean-container .mean-nav ul li > a > i {
  display: none;
}
.mean-container .mean-nav ul li > a.mean-expand i {
  display: inline-block;
}

.mean-container .mean-nav > ul > li:first-child > a {
  // border-top: 0;
}

.mean-container .mean-nav ul li.dropdown-opened a.mean-expand.mean-clicked {
  background-color: $black;
  border-color: $black !important;
}
.mean-container .mean-nav ul li.dropdown-opened a.mean-expand.mean-clicked i {
  color: $white;
}
.mean-container .mean-nav ul li a.mean-expand.mean-clicked {
  color: $white;
}
.mean-container .mean-nav ul li a.mean-expand.mean-clicked i {
  transform: rotate(45deg);
  color: $white;
}
