.why-choose-us-area {
        position: relative;
        .shape-1 {
            position: absolute;
            top: 0;
            left: 0;
        }
        .shape-2 {
            position: absolute;
            top: 50px;
            right: 45px;
            transform: rotate(30deg);
            i {
                font-size: 169px;
                line-height: 130px;
                color: #a6a6a640;
            }
            @include rmaxwd(1399) {
                top: 0;
                right: 30px;
                i {
                    font-size: 140px;
                }
            }
        }
        .section-desc {
            height: 100%;
            display: flex;
            align-items: end;
            @include rmaxwd(991) {
                margin-top: 24px;
            }
            @include rmaxwd(1399) {
                br {
                    display: none;
                }
            }
        }
    &.style-2 {
        // padding: 140px 0;
        position: relative;
        .shape-1 {
            position: absolute;
            top: 0;
            left: 0;
        }
        .shape-2 {
            position: absolute;
            top: 0;
            right: 36px;
            transform: rotate(30deg);
            i {
                font-size: 124px;
                line-height: 130px;
                color: #a6a6a640;
            }
        }
        .section-desc {
            @include rmaxwd(991) {
                margin-top: 24px;
            }
            @include rmaxwd(1399) {
                br {
                    display: none;
                }
            }
        }
        .single-card-wrapper {
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            @include sm {
                grid-template-columns: repeat(1, 1fr);
            }
            @include md {
                grid-template-columns: repeat(2, 1fr);
            } 
            @media only screen and (min-width: 992px) and (max-width: 1439px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        .single-choose-card {
            padding: 40px 22px 30px 70px;
            display: flex;
            flex-direction: column;
            border: 1px solid #dfdfdf;
            border-left: none;
            cursor: pointer;
            background: $white;
            @include transition;
            @include rmaxwd(1399) {
                padding: 40px 22px 30px 22px;
            }
            &:hover {
                .icon {
                    background-color: $black;
                    i {
                        color: $white;
                    }
                }
                .title {
                    color: $white;
                }
                .list-wrapper {
                    .list-item {
                        .check {
                            background-color: $white;
                        }
                        .text {
                            color: $white;
                        }
                    }
                }
                .read-more-wrapper {
                    .read-more {
                        h5 {
                            color: $white;
                        }
                    }
                    h1 {
                        color: $white;
                    }
                }
            }
            .icon {
                width: 100px;
                height: 100px;
                border-radius: 100%;
                background-color: #03c0b44d;
                display: flex;
                align-items: center;
                justify-content: center;
                @include transition;

                i {
                    font-size: 40px;
                    line-height: 40px;
                    color: $black;
                }
            }
            .title {
                margin: 22px 0;
            }
            .list-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .list-item {
                    display: inline-flex;
                    align-items: center;
                    gap: 25px;
                    @include transition;

                    .check {
                        width: 15px;
                        height: 15px;
                        border-radius: 3px;
                        background-color: $secondary-color;
                        flex-shrink: 0;
                        @include transition;
                    }
                    .text {
                        @include transition;
                    }
                }
            }
            .read-more-wrapper {
                display: flex;
                align-items: end;
                justify-content: space-between;
                .read-more {
                    h5 {
                        color: $secondary-color;
                    }
                }
                .count {
                    color: #03c0b440;
                    line-height: 80px;
                }
            }
        }
    }
}
// For word-press theme

.single-card-wrapper {
    .elementor-container{
        // margin-top: 60px;
        display: grid !important;
        grid-template-columns: auto auto auto auto;
        @include sm {
            grid-template-columns: repeat(1, 1fr);
        }
        @media only screen and (min-width: 768px) and (max-width: 1199px) {
            grid-template-columns: repeat(2, 1fr);
        }

        .elementor-column {
            width: 100% !important;
        }
    }
    @include rmaxwd(1400) {
        // margin: 0 12px;
    }
    
}
.single-choose-card {
    position: relative;
    padding: 40px 22px 24px 70px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dfdfdf;
    border-left: transparent;
    background: $white;
    background-image: none;
    overflow: hidden;
    height: 100%;
    @include transition;
    @include rmaxwd(1700) {
        padding: 40px 22px 30px 22px;
    }
    &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #F17732;
        opacity: 0.9;
        visibility: hidden;
        top: 0;
        left: 0;
        z-index: 0;
    }
    &:hover {
        @include transition;
        &:after{
            visibility: visible;
        }
        .bg-img{
            visibility: visible;
            opacity: 1;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .icon {
            background-color: $black;
            transform: rotateY(360deg);
            @include transition;
            i {
                color: $white;
            }
        }
        .title {
            color: $white;
        }
        .list-wrapper {
            
            li {
                color: $white;
                .square {
                    background-color: $white;
                }
            }
        }
        .read-more-wrapper {
            .read-more {
                h5 {
                    color: $white;
                    text-decoration: underline;
                }
            }
            h1 {
                color: $white;
            }
        }
    }
    .bg-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include transition;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .icno,
    .title,
    .list-wrapper,
    .read-more-wrapper{
        z-index: 10;
        position: relative;
    }
    .icon {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: #03c0b44d;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        @include transition;
        i {
            font-size: 40px;
            line-height: 40px;
            color: $black;
        }
    }
    .title {
        margin: 22px 0;
    }
    
    .read-more-wrapper {
        display: flex;
        align-items: end;
        justify-content: space-between;
        .read-more {
            h5 {
                color: $secondary-color;
                font-weight: 500;
                line-height: 30px;
            }
        }
        .count {
            color: #03c0b440;
            line-height: 80px;
            font-size: 70px;
            font-weight: 700;
        }
    }
}

// Theme Responsive
.why-choose-us-area{
    .why-choose-us-title-wrapper{
        .elementor-container{
            padding: 0 12px;
            align-items: end;
            @include md{
                flex-direction: column;
                padding: 0 12px;
            }
            .elementor-column{
                @include md{
                    width: 80%;
                }
            }
        }
    }
    .elementor-section{
        .shape-2{
            transform: unset;
        }
    }
}
