.image-card {
    position: relative;
    overflow: hidden;
    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        height: 100%;
        background-color: rgba(241, 119, 50, 0.85);
        visibility: hidden;
        opacity: 0;
        display: flex;
        gap: 170px;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        @include transition;

        @include rmaxwd (1199){
            gap: 116px;
        }
        a {
            position: relative;
            @include transition;
            transform: scale(0);
            i {
                color: $white;
                font-size: 80px;
            }
        }
        .content-title {
            color: #fff;
            position: relative;
            @include transition;
            h4 {
                color: #fff;
                font-size: 24px;
                font-weight: 600;
                line-height: 34px;
            }
            span {
                color: $white;
            }
        }
    }
    .img-wrapper {
        img {
            width: 480px;
            height: 550px;
            object-fit: cover;
            @include sm{
                width: 100%;
            }
        }
    }
    // .slider_icon {
    //     display: flex;
    //     justify-content: center;
    //     margin-bottom: 50px;
    //     gap: 20px;
    //     transform: scale(0);
    //     img {
    //         padding: 15px;
    //         border-radius: 50px;
    //     }

    //     .box-white {
    //         box-shadow: 0px 4px 50px rgba(151, 151, 151, 0.25);
    //     }
    //     .box-primary {
    //         background-color: $primary-color;
    //     }
    // }
    &:hover {
        .content {
            visibility: visible;
            opacity: 1;
            @include transition;
            a {
                transform: scale(1);
                @include transition;
            }
            .content-title {
                transform: translate(0px, -40px);
            }
        }
    }
}